*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color:rgb(28, 28, 49);
    display: grid;
    place-items: center;
}
.container{
    height: 200px;
    width: 200px;
    background-color: salmon;
    border-radius: 50%;
    /* box-shadow: 0 0 10px 4px salmon; */
    position: relative;
    animation: kamal 2s linear infinite reverse;
}
.container::before{
    content: "";
    position: absolute;
    height: 165px;
    width: 165px;
    background-color: rgb(28, 28, 49);
    border-radius: 50%;
    top: 0;
    left: -6px;
}
.container::after{
    content: "";
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: salmon;
    top: -13%;
    right: 45%;
    box-shadow: 0 0 20px 10px salmon;
}
@keyframes kamal{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}